/* Base Styles */

:root {
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem;
}

img {
    display: block;
}

            /* profile-image-styles */

.profile-img {
    border: 14px solid #466e64;
    border-radius: 50%;
    object-fit: cover;
}

            /* profile-element-styles*/

.profile-user-name {
    font-weight: 100;
    font-size: 3.5rem;
}

.profile-edit-btn {
    font-size: 1.5rem;
    background-color: #fafafa;
    border: 0.1rem solid lightgray;
    border-radius: 3px;
    padding: 2px 20px;
    cursor: pointer;
}

.profile-settings-btn {
    font-size: 2rem;
    background-color: #fafafa;
    border: none;
    cursor: pointer;
}

ul {
    font-size: 1.5rem;
    list-style: none;
}

p {
    font-size: 1.5rem;
}

.profile-stat-count, .profile-real-name {
    font-weight: 600;
    font-size: 1.5rem;
}

            /* general-layout */

.container {
    padding: 10px;
    margin: 0 auto;
    max-width: 90rem;
}

            /* profile-layout */ 
/* flex-items */

.profile-user-settings {
    display: flex;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
}

/* grid-items */

.profile {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.profile-image {
    grid-column: 1 / 1;
    grid-row: 1 / -1;
    align-content: center;
    /* background-color: aqua; */
}

.profile-user-settings {
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    /* background-color: aquamarine; */
}

.profile-stats {
    grid-column: 2 / -1;
    grid-row: 2 / 3;
    align-content: center;
    /* background-color: lightgreen; */
}

.profile-bio {
    grid-column: 2 / -1;
    grid-row: 3 / -1;
    align-content: center;
    /* background-color: lightgoldenrodyellow; */
}

/* responsive-profile-layout */

@media only screen and (max-width:835px) {
    .profile {
        grid-template-columns: 1fr;
        grid-template-rows: 3fr 1fr 1fr 1fr;
    }
    .profile-image {
        grid-column: 1 /-1;
        grid-row: 1 / 2;
        align-content: center;
    }
    
    .profile-user-settings {
        grid-column: 1 / -1;
        grid-row: 2 / 3;
    }
    
    .profile-stats {
        grid-column: 1 / -1;
        grid-row: 3 / 4;
        align-content: center;
        justify-content: start;
    }
    
    .profile-bio {
        grid-column: 1 / -1;
        grid-row: 4 / -1;
        align-content: center;
    }
}

            /* gallery-element-styles */
            
/* images */

.gallery-image {
    width: 30rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.visually-hidden {
    display: none;
}

/* separate-image-from-gallery-item-info*/

.gallery-item{
    position: relative;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-item-info {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: -1;
    color: white;
}

/* adding-icons-in-right-corner */

.fa-clone, .fa-video {
    position: absolute;
    z-index: 2;
    top: 10px;
    right: 10px;
    color: white;
}

/* gallery-grid */

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    gap: 10px;
}

/* hover-effects-for-grid-items */

.gallery-item:hover {
    .gallery-image {
        filter: brightness(.7);
        background-color: #0000004d;
    }

    .gallery-item-info {
        z-index: 2;
    }
}